body {
  font-family: basic-sans, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  line-height: 1.6;
  color: #333;
  padding: 2em;
}

.hero {
  display: grid;
  grid-gap: 2em;
  align-items: center;
}

@media (min-width: 960px) {
  .hero {
    grid-template-columns: repeat(2,1fr);
  }
}

img {
  max-width: 100%;
  height: auto;
}




.title {
  margin: 0 0 .5em;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  font-size: 3rem;
  color: #ee6352;
  line-height: .8;
}